body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.replaceForm {
  border: 1px none;
  padding: 2rem 2rem 0 2rem;
  margin: 1rem;
  border-radius: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2rem;
  -webkit-box-flex: content;
      -ms-flex: content;
          flex: content;
  background-color: #27ae60;
  -webkit-box-shadow: 3px 3px 8px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 8px 8px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.replaceForm_inputs {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 2.5rem;
}

.replaceForm_inputs_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.replaceForm_inputs_first_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.5rem;
}

.replaceForm_inputs_first_group label {
  color: #fff;
}

.replaceForm_inputs_first_group_input {
  border-radius: 2.5px;
  border: 1px none;
}

.replaceForm_inputs_first_group_input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(14, 102, 85, 0.7);
          box-shadow: 0px 0px 2px 2px rgba(14, 102, 85, 0.7);
}

.replaceForm_inputs_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.replaceForm_inputs_second_group {
  gap: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.replaceForm_inputs_second_group label {
  color: #fff;
}

.replaceForm_inputs_second_group_input {
  border-radius: 2.5px;
  border: 1px none;
}

.replaceForm_inputs_second_group_input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(14, 102, 85, 0.7);
          box-shadow: 0px 0px 2px 2px rgba(14, 102, 85, 0.7);
}

.replaceForm_buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 1rem;
  gap: 1rem;
}

button {
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  background-color: #1894e7;
  color: #fff;
  padding: 0 10px 5px 10px;
}

button:active {
  background-color: #28f1e1;
}

button:hover {
  background-color: #50a8e2;
  -webkit-box-shadow: 3px 3px 8px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 8px 8px rgba(0, 0, 0, 0.2);
}

#btnSubmit::before {
  content: '\2713';
  margin-right: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#btnClearData::before {
  content: '\00D7';
  margin-right: 1rem;
}
/*# sourceMappingURL=option_page.css.map */